<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body class="container">
    <form action="/about/">
      <!-- <input type="text" name="nama" />
      <input type="submit" value="Submit" /> -->
      <input type="text" id="lname" name="nama" value="Doe" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
